.hero {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 70vh;
  width: 100%;
}
  .hero .hero-container {
    padding-top: 8%;
    margin-bottom: 20px;
    align-items: center;
  }
  .hero h1 {
    color: #fff;
    font-size: 60px;
    text-align: center;
    font-weight: bolder;
  }
  .hero p {
    text-align: center;
    color: #fff;
    opacity: 0.8;
    margin-top: 10px;
  }


/*Property Slider*/
.main{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.MainImage{
  height: 500px;
  width: 700px;
  
}

.flex_row{
  height: 100%;
  justify-content: center;
  display: flex;
  padding-top: 20px;
}

.thumbnail{
  height: 100%;
  object-fit: contain;
  padding-left: 20px;
}
.thumbnail img{
  height: 70px;
  width: 100px;
}
.clicked{
border: 5px solid black;
}
.btns{
  margin-top: 20%;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  background: grey;
}
  